/*defined all mixin variables for use in mixin and layout*/
$brand: #38ADA9;
$header-font: #939393;
$white: #FFFFFF;
$light-gray: #FAFAFA;
$lighter-gray: #EDEDED;
$lightest-gray: #EAEAEA;
$dark-gray: #B9B9B9;
$transparent-green: #38ADA9;
$darker-color: #939393; 